
body {
  padding:0;
  margin:0;
  background:#666;
  position: relative;
  text-align: center;
}

#canvas{
  position: absolute;
  top:10px;
  left: 300px;
  border:1px dashed #ccc;
  width: 500px;
  height: 720px;
}

#canvasBg {
  position: absolute;
  top:10px;
  left: 300px;
  width: 500px;
  height: 720px;
}







